<launch>
  <arg name="base" value="$(env ROS_GUMMI_BASE)" />
  <include file="$(eval find('gummi_base_' + base) + '/launch/manager.launch')">
    <!--arg name="base" value="$(arg base)"/-->
  </include>
  <include file="$(eval find('gummi_base_' + base) + '/launch/controllers.launch')">
  </include>
</launch>
